.navbar {
    background-color: #1287FF;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo {
    color: white;
    font-Weight: 500; 
    font-Size: 1.2rem;
    margin: 0;
}
.link {
    opacity: 0.8;
    cursor: pointer;
}
.link:hover {
    opacity: 1;
    transition: all 0.3s;
}

.blink_meOnline {
    animation: blinker 2s linear infinite;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid #04ec04;
    background-color: rgb(4, 241, 4);
    border-radius: 100%;
  }

.blink_meOffline {
    animation: blinker 2s linear infinite;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid red;
    background-color: red;
    border-radius: 100%;
}

@keyframes blinker {
    50% {
      opacity: 0.4;
    }
  }