* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.charts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.graph-chart {
    height: 60vh;
    width: 60vw;
    padding: 2rem 2rem 4rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    color: #2C3E50;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #F7F9F9;
}

.pie-chart {
    height: 60vh;
    width: 20vw;
    padding: 2rem 2rem 4rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    color: #2C3E50;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #F7F9F9;
}

.input-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
    border-radius: 0.5rem;
    padding: 0rem 0.5rem;
}

.input-flex input {
    width: 100%;
    padding: 0.5rem;
    border: 0;
}

.input-flex input:focus {
    outline: none;
}

.select-input {
    width: 30%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
    border-radius: 0.5rem !important;
    padding: 0.2rem 0.5rem;
}

.select-input > div {
    border: 0px solid #fff !important;
}

.my-table {
    margin-bottom: 4rem;
}

.ant-pagination {
    display: none !important;
}
